body {
    /*background: rgb(190, 255, 225);*/
    background: rgb(227, 236, 245);
    line-height: 150%;
    font-family: Veranda, sans-serif;
    text-align: center;
    
  }
  
  h1 {
    font-family: Veranda, sans-serif;
    color: rgb(0, 155, 235);
    font-size: 3em;
    text-align: center;
  }
  
  #scrolly {
    /*background: rgb(101, 204, 255);*/
    background: rgb(156, 222, 255);
    position: -webkit-sticky;
    position: sticky;
    top: -2%;
      height: 11em;
      color: white;
      margin-left: -2%;
      margin-right: -2%;
      overflow: hidden;
  
  }
  
  #scrollyTitle{
    font-family: Veranda, sans-serif;
    font-size: 24px;
  }

  #Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #ValueTableTitle {
   
    font-family: Veranda, sans-serif;
    color: rgb(0, 155, 235);
    text-decoration: underline;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  
  table {
    border: 0.15em solid black;
    border-collapse: collapse;
    width: 75%;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);/*This creates the 
    shadow effect on the table, but idk if we want this*/
  }
  
  td {
    border: 0.15em solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  
  th {
    border: 0.15em solid black;
    background-color: rgba(130, 240, 255, 10);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
  
  }
  
  
  
  
  
  #smoll {
      width: 100px;
  }
  
  .defaultText {
    font-size: 1.25em;
   color: rgb(0, 0, 0);
  }
 
  a:link {
    color: rgb(0, 255, 0);
  }

  a:hover {
    color: rgb(0, 155, 235);
  }


#UsefulLinks {
/*background-color: red;*/
width:980px;
    margin:auto; 
    height:auto; 
    overflow: auto;
    padding: 10px;
width: 100%
}


#AlgebraButton {
  
  float:left;
  width: 30%;
}

#GeometryButton {
  float:left;
  width: 30%;
}

#PhysicsButton {
  float:left;
  width: 30%;
}

